.commitAuthor {
  color: #83a4d4;
  display: flex;
  flex-direction: row;
  align-items: center;
 }

nz-avatar {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.author {
  height: 20px;
  .updated {
    margin-right: 5px;
  }
  span:last-child {
    margin-left: 5px;
  }
}


